/* ----- Kezdetleges Weboldal Specifikációk ----- */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* ----- Kezdetleges Weboldal Specifikációk Vége ----- */


/* ----- Változók ----- */

:root {
    --backgroundColor: whitesmoke;
    --navBarBackgroundColor: rgb(17, 17, 17);
    --NavBarButtonsColor: whitesmoke;
    --NavBarButtonsBackgroundColor: rgb(95, 95, 95);
    --NavBarButtonsFontSize: 28px;
    --titleTextColor: whitesmoke;
    --paragraphTextColor: whitesmoke;
    --navBarButtonsMarginLeft: 50%;
    --NavBarButtonLinkDecorations: none;
    --NavBarButtonLinkMarginLeft: 10%;
    --NavBarButtonLinkBorder: 2px solid rgb(53, 53, 53);
    --NavBarButtonLinkTransition: 0.2s;
    --NavBarButtonLinkPadding: 1.5%;
    --NavBarButtonLinkHoverBorder: 2px solid whitesmoke;
    --NavBarButtonLinkHoverBorderRadius: 10px;
    --NavBarButtonLinkHoverGlowingEffectTextShadow:
                                                   0 0 7px rgb(132, 0, 255),
                                                   0 0 10px rgb(132, 0, 255),
                                                   0 0 21px rgb(132, 0, 255),
                                                   0 0 42px rgb(132, 0, 255),
                                                   0 0 82px rgb(132, 0, 255),
                                                   0 0 92px rgb(132, 0, 255),
                                                   0 0 102px rgb(132, 0, 255),
                                                   0 0 151px rgb(132, 0, 255);
    --NavBarShortCutIconLinkHoverGlowingEffectBoxShadow:
                                                   0 0 7px rgb(132, 0, 255),
                                                   0 0 10px rgb(132, 0, 255),
                                                   0 0 21px rgb(132, 0, 255),
                                                   0 0 42px rgb(132, 0, 255),
                                                   0 0 82px rgb(132, 0, 255),
                                                   0 0 92px rgb(132, 0, 255),
                                                   0 0 102px rgb(132, 0, 255),
                                                   0 0 151px rgb(132, 0, 255);
}

/* ----- Változók Vége ----- */


/* ----- html, Body ----- */

html, body {

    /* html */
    overflow-x: hidden;
    max-width: 100%;
    /* Body */
    background-color: black;
    font-family: monospace;
}

/* ----- html, Body ----- Vége */


/* ----- Nav-Bar, jellyFishLogo, navBarButtons ----- */

#NavBar{
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 1%;
    padding-top: 0.5%;
    background-color: var(--navBarBackgroundColor);
}

#jellyFishLogo {
    border: 3px solid var(--navBarBackgroundColor);
    padding: 0.01%;
    transition: 0.2s;
}

#navBarButtons {
    display: flex;
    margin-left: var(--navBarButtonsMarginLeft);
}

/* ----- Nav-Bar, navBarButtons Vége ----- */


/* ----- Nav-Bar Button Href a Links ----- */

#mainSiteNavBarButtonLink {
    text-decoration: var(--NavBarButtonLinkDecorations);
    margin-left: var(--NavBarButtonLinkMarginLeft);
    border: var(--NavBarButtonLinkBorder);
    transition: var(--NavBarButtonLinkTransition);
    padding: var(--NavBarButtonLinkPadding);
}

#livingWorldNavBarButtonLink {
    text-decoration: var(--NavBarButtonLinkDecorations);
    margin-left: var(--NavBarButtonLinkMarginLeft);
    border: var(--NavBarButtonLinkBorder);
    transition: var(--NavBarButtonLinkTransition);
    padding: var(--NavBarButtonLinkPadding);
}

#nutritionNavBarButtonLink {
    text-decoration: var(--NavBarButtonLinkDecorations);
    margin-left: var(--NavBarButtonLinkMarginLeft);
    border: var(--NavBarButtonLinkBorder);
    transition: var(--NavBarButtonLinkTransition);
    padding: var(--NavBarButtonLinkPadding);

}

#evolutionNavBarButtonLink {
    text-decoration: var(--NavBarButtonLinkDecorations);
    margin-left: var(--NavBarButtonLinkMarginLeft);
    border: var(--NavBarButtonLinkBorder);
    transition: var(--NavBarButtonLinkTransition);
    padding: var(--NavBarButtonLinkPadding);
}

/* ----- Nav-Bar Button Href a Links Vége ----- */


/* ----- jellyFishLogo, Nav-Bar Button Href a Links:Hover ----- */

#jellyFishLogo:hover {
    box-shadow: var(--NavBarButtonLinkHoverGlowingEffectTextShadow);
    background-color: rgb(132, 0, 255);
    border: 3px solid rgb(132, 0, 255);
    padding: 0.01%;
    border-radius: 10px;
}

#mainSiteNavBarButtonLink:hover {
    border: var(--NavBarButtonLinkHoverBorder);
    border-radius: var(--NavBarButtonLinkHoverBorderRadius);
    text-shadow: var(--NavBarButtonLinkHoverGlowingEffectTextShadow)
}

#livingWorldNavBarButtonLink:hover {
    border: var(--NavBarButtonLinkHoverBorder);
    border-radius: var(--NavBarButtonLinkHoverBorderRadius);
    text-shadow: var(--NavBarButtonLinkHoverGlowingEffectTextShadow)
}

#nutritionNavBarButtonLink:hover {
    border: var(--NavBarButtonLinkHoverBorder);
    border-radius: var(--NavBarButtonLinkHoverBorderRadius);
    text-shadow: var(--NavBarButtonLinkHoverGlowingEffectTextShadow)
}

#evolutionNavBarButtonLink:hover {
    border: var(--NavBarButtonLinkHoverBorder);
    border-radius: var(--NavBarButtonLinkHoverBorderRadius);
    text-shadow: var(--NavBarButtonLinkHoverGlowingEffectTextShadow)
}

/* ----- jellyFishLogo, Nav-Bar Button Href a Links:Hover Vége ----- */


/* ----- Nav-Bar Buttons ----- */

#mainSiteNavBarButton {
    font-size: var(--NavBarButtonsFontSize);
    color: var(--NavBarButtonsColor);
}

#livingWorldNavBarButton {
    font-size: var(--NavBarButtonsFontSize);
    color: var(--NavBarButtonsColor);
}

#nutritionNavBarButton {
    font-size: var(--NavBarButtonsFontSize);
    color: var(--NavBarButtonsColor);
}

#evolutionNavBarButton {
    font-size: var(--NavBarButtonsFontSize);
    color: var(--NavBarButtonsColor);
}

/* ----- Nav-Bar Buttons Vége ----- */